[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=oobProfileQml
Exec=/usr/bin/invoker --type=d -s /opt/oobProfileQml/bin/oobProfileQml
Icon=/usr/share/icons/hicolor/80x80/apps/oobProfileQml80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
